apiVersion: v1
kind: Namespace
metadata:
  name: exposition-measurer
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: exposition-measurer
  namespace: exposition-measurer
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: exposition-measurer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: exposition-measurer
  namespace: exposition-measurer
---
apiVersion: batch/v1
kind: Job
metadata:
  name: exposition-measurer
  namespace: exposition-measurer
  labels:
    app.kubernetes.io/name: exposition-measurer
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/name: exposition-measurer
    spec:
      containers:
      - image: giorio94/liqo-exposition-measurer:v0.0.5
        imagePullPolicy: IfNotPresent
        name: exposition-measurer
        args:
        - --namespace=offloading-benchmark
        - --create-service=false
        - --endpoints=__PODS__
        - --v=2
      dnsPolicy: Default
      restartPolicy: OnFailure
      serviceAccountName: exposition-measurer
