apiVersion: v1
kind: Namespace
metadata:
  name: exposition-syn-measurer
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: exposition-syn-measurer
  namespace: exposition-syn-measurer
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: exposition-syn-measurer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: exposition-syn-measurer
  namespace: exposition-syn-measurer
---
apiVersion: batch/v1
kind: Job
metadata:
  name: exposition-syn-measurer
  namespace: exposition-syn-measurer
  labels:
    app.kubernetes.io/name: exposition-syn-measurer
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/name: exposition-syn-measurer
    spec:
      containers:
      - image: giorio94/liqo-exposition-syn-measurer:v0.0.6
        imagePullPolicy: IfNotPresent
        name: exposition-syn-measurer
        args:
        - --namespace=exposition-benchmark
        - --create-service=false
        - --interval=1ms
        - --v=2
        securityContext:
          privileged: true
      dnsPolicy: Default
      restartPolicy: OnFailure
      serviceAccountName: exposition-syn-measurer
